.sidebar {
    grid-column: 1/2;
    background: black;
    height: 90vh;
    padding: .5em;
}

.sidebar__logo {
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    user-select: none;
}

.sidebar__logo>img {
    height: 50px;
}

.sidebar__logo>.title {
    display: flex;
    padding-left: 4px;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar__logo>.title>h1 {
    font-size: 1.7em;
    font-family: 'Circular-bold';
    letter-spacing: -1px;
}

.sidebar__logo>.title>small {
    font-size: .7em;
    opacity: .8;
}

.sidebar__options {
    color: white;
}

.sidebar__options>.option.active {
    background: #282828;
    color: white;
}

.sidebar__options>.option {
    padding: .6em 24px;
    border-radius: 5px;
    color: #626262;
    cursor: pointer;
    transition: background .25s ease,
        color .25s ease;
}

.sidebar__options>.option:hover {
    color: white;
}

.sidebar__currentsong {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}


.sidebar__currentsong>img {
    align-self: flex-end;
    width: 100%;
}

.sidebar__options>.option>.tab {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sidebar__options>.option>.tab>.label {

    margin-left: 8px;
}

.sidebar__options>.option>.tab>span.icon {}